.feed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    gap: 1rem;
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.follow-nav.home-follow-nav{
    position:fixed;
    right: 0;
    top: 4rem;
    z-index: 10;
    background-color: #010;
    margin: 0;
}